.all_advantages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.6em 0 1.9em 0;
}

.advantage{
    display: flex; 
    justify-content: space-between;
    box-sizing: border-box;
    width: 49%;
    padding: 1em 0 0.8em 0;
}

.advantage_image{
    align-self: center;
    width: 1.6vw;
    padding: 2em;
    border-radius: 100%;
    border: 3px solid var(--border-color);
}

.advantage_description{
    padding: 0 1em;
}

.advantage_description h4{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
}

.advantage_description p{
    margin-top: 0.1em;
    font-size: 10px;
    font-family: "Noto Sans JP";
    line-height: 175%;
    color: var(--secondary-text-color);
}
