.all_advantages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5% 0;
}

.advantage{
    display: flex; 
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
    padding: 2% 3% 2% 0;
}

.advantage_image{
    align-self: center;
    width: 2vw;
    padding: 8%;
    border-radius: 100%;
    border: 3px solid var(--border-color);
}

.advantage_description{
    padding: 0 5%;
}

.advantage_description h4{
    margin-top: 10%;
    margin-bottom: 3%;
}

.advantage_description p{
    margin-top: 1%;
    font-size: 10px;
    font-family: "Noto Sans JP";
    line-height: 175%;
    color: var(--secondary-text-color);
}
