footer{
    display: flex;
    justify-content: space-between;
    padding: 1% 0 5% 0;
}

.contact_info{
    font-size: 10px;
    font-family: "Noto Sans JP";
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contact{
    width: 23%;
}

.contact_header{
    margin-bottom: 0%;
}

.copyrights_info{
    margin: 0%;
    margin-top: 2%;
}

.followus{
    display: inline-block;
    width: 45%;
}

.followus_logo{
    width: 10%;
}