header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 70%;
}

.logo_header{
    margin-bottom: 0px;
}

.logo_subtext{
    margin-top: 0px;
}

nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0;
}

.menu_item{
    padding: 5% 3% 5% 3%;
    text-decoration: none;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 60%;
}

.btn{
    color: var(--light-text-color);
    padding: 2.5vh 1vw;
}