header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 70%;
}

.logo_header{
    margin-bottom: 0;
}

.logo_subtext{
    margin-top: 0;
}

nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6em 0;
}

.menu_item{
    padding: 2.5em 1.8em;
    text-decoration: none;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 60%;
}

.btn{
    color: var(--light-text-color);
    padding: 1.5em 1.3em;
}