.people{
    display: flex;
    justify-content: space-between;
    padding: 5% 0 6% 0;
    border-bottom: 1px solid var(--border-color);
}

.person{
    width: 23%;
    border: 1px solid var(--border-color);
}

.person_photo{
    width: 100%;
}

.person_description{
    padding: 7%;
}

.name{
    margin: 12% 0 0 0;
}

.person_description p{
    font-size: 10px;
    font-family: "Noto Sans JP";
    color: var(--secondary-text-color);

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    line-height: 195%;
    margin-bottom: 10%;
    
}

.person .btn{
    font-size: 10px;
    padding: 1vh 0.5vw;
}
